@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans:wght@600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    /* border: 2px solid blue; */
    height: 100vh;
}
.header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 3%;
    font-size: 1rem;
    padding: 1.5rem 0px;
}
.header *{
    /* border: 1px solid red; */
    display: block;
    width: 7rem;
}
.header input{
    /* border: 1px solid black; */
    width: 7rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0px 0.3rem;
}
.header button {
    background-color:rgb(74,170,232);
    font-size: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    border: none;
}
.paragraph{
    /* border: 2px solid black; */
    border-radius: 0.7rem;
    max-width: 50rem;
    margin: 0px auto;
    padding: 1rem;
    box-shadow: 0px 0px 5px  1px black;
}
@media (max-width:425px) {
    .paragraph{
        margin: 0px 1rem;
    }
}
@media screen and (min-width:426px) and (max-width:768px){
    .paragraph{
            margin: 0px 1rem;
    }
}