@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sofia+Sans:wght@600;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    height: 100vh;
}

.container {
    max-width: 16rem;
    padding: 1rem 2.5rem;
    background-color: #fcf8f3;
    border-radius: 0.8rem;
    margin: 1rem auto;
}

div input,
.sign-up button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: 2px solid #dfd8d8;
}

.fields {
    margin-top: 1rem;
}

.fields div {
    display: flex;
    flex-direction: column;
    margin-top: 1.3rem;
}

div p {
    font-size: 0.8rem;
    text-align: center;
    color: #ff0000;
}

.terms-condition {
    display: flex;
    flex: auto;
    font-size: 0.9rem;
    gap: 0.5rem;
    margin: 1rem;
    padding-top: 0px;
}

.terms-condition p {
    color: black;
}

.sign-up input {
    background-color: #5056c6;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
}

.hide {
    visibility: hidden;
}

.red-border {
    border: 2px solid #ff0000;
}

.green-border {
    border: 2px solid #08ec08;
}

@media (max-width: 320px) {
    .container {
        margin: 0.5rem;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .container {
        margin: 0.5rem auto;
    }
}